<ion-header>
  <ion-toolbar class="headCuid">
    <div class="headerCuidador">
      <ion-icon class="iconoHeader" name="time-outline"></ion-icon>
      <div>
        <h1 class="tituloHeader">Horarios</h1>
        <p class="subtituloHeader" *ngIf="!sinGrupo">{{grupo.nombre}}</p>
        <p class="subtituloHeader" *ngIf="sinGrupo">(Sin grupo)</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher [disabled]="sinGrupo || cargando || cargandoBorrar" slot="fixed" (ionRefresh)="refrescar($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="(cargando || cargandoZonas || cargandoUsuarios) && !sinGrupo" class="loader"></div>
  <p *ngIf="(cargando || cargandoZonas || cargandoUsuarios) && !sinGrupo" class="cargandoTexto">Cargando horarios</p>
  <p *ngIf="!cargando && !cargandoZonas && !cargandoUsuarios && horarios.length===0 && !sinGrupo" class="textCentro sinResultados">Sin horarios</p>
  <ion-list class="lista" *ngIf="!sinGrupo && !cargando && !cargandoZonas && !cargandoUsuarios">
    <ion-item *ngFor="let item of horarios; let i=index;">
      <div>
        <div class="infoYbotones">
          <div class="infoItem">
            <ion-icon name="time-outline"></ion-icon>
            <p *ngIf="item.diasSemana[0].includes(';')">{{item.diasSemana[0].split(";")[0]}} a {{item.diasSemana[0].split(";")[1]}} ({{item.horas[0].split(";")[0]}} - {{item.horas[0].split(";")[1]}})...</p>
            <p *ngIf="!item.diasSemana[0].includes(';')">{{item.diasSemana[0]}} ({{item.horas[0].split(";")[0]}} - {{item.horas[0].split(";")[1]}})...</p>
          </div>
          <div class="botonesLista">
            <ion-button class="botonEditar" [routerLink]="['/horario/'+item.id]" routerDirection="root">Editar</ion-button>
            <ion-button class="botonBorrar" (click)="borrarHorario(item.id, i)">Borrar <div *ngIf="cargandoBorrar && sel===item.id" class="loader2"></div></ion-button>
          </div>
        </div>
        <div class="infoLista">
          <div class="infoItem">
            <ion-icon name="location-outline"></ion-icon>
            <p>{{zonasFinal[i].nombre}}</p>
          </div>
          <div class="infoItem">
            <ion-icon name="person"></ion-icon>
            <div class="usuariosHorario">
              <div *ngFor="let item of usuarios[i]; let j=index;">
                <p *ngIf="j===0 && j<usuarios[i].length-1">{{item}} -</p>
                <p *ngIf="j===0 && j===usuarios[i].length-1">{{item}}</p>
                <p *ngIf="j>0 && j===usuarios[i].length-1"> {{item}}</p>
                <p *ngIf="j>0 && j<usuarios[i].length-1"> {{item}} -</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
  <div class="divSinGrupo" *ngIf="sinGrupo">
    <ion-icon name="close-outline"></ion-icon>
    <p>No tiene seleccionado ningún grupo. Puede ir a Inicio para seleccionar un grupo o crearlo</p>
    <ion-button class="botonNormal" [routerLink]="['/cuidador-inicio']" routerDirection="root">Ir a Inicio</ion-button>
  </div>
  <div class="botonesCentro" *ngIf="!sinGrupo">
    <ion-button class="botonNormal botonHorario" [routerLink]="['/nuevohorario']" routerDirection="root">Nuevo horario</ion-button>
  </div>
</ion-content>

<app-menu-nav></app-menu-nav>
